In [57]:
import pandas as pd

In [2]:
data = pd.read_csv("training.csv")

In [3]:
data

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust,target
0,0,1,0,1,0,1,1,0,1,1,1,1,1,0,1,7
1,0,1,1,1,0,1,1,1,0,0,0,0,0,0,0,9
2,1,1,0,0,1,1,1,0,1,0,1,0,0,0,0,10
3,1,1,0,1,0,1,1,1,1,0,1,0,0,1,1,7
4,1,0,1,0,1,1,0,0,0,1,1,0,0,1,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,1,1,1,0,1,1,0,0,1,0,1,1,0,7
9996,1,1,0,0,1,1,1,1,0,0,0,0,0,0,0,11
9997,0,1,1,0,0,1,1,1,1,1,0,0,1,1,0,6
9998,0,1,1,0,1,0,1,1,1,1,1,0,1,0,0,6
9999,0,1,1,0,1,0,1,1,1,0,1,1,0,0,0,7

In [8]:
x = data.drop("target",axis=1)

In [9]:
x

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust
0,0,1,0,1,0,1,1,0,1,1,1,1,1,0,1
1,0,1,1,1,0,1,1,1,0,0,0,0,0,0,0
2,1,1,0,0,1,1,1,0,1,0,1,0,0,0,0
3,1,1,0,1,0,1,1,1,1,0,1,0,0,1,1
4,1,0,1,0,1,1,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,1,1,1,0,1,1,0,0,1,0,1,1,0
9996,1,1,0,0,1,1,1,1,0,0,0,0,0,0,0
9997,0,1,1,0,0,1,1,1,1,1,0,0,1,1,0
9998,0,1,1,0,1,0,1,1,1,1,1,0,1,0,0
9999,0,1,1,0,1,0,1,1,1,0,1,1,0,0,0

In [10]:
y = data["target"]

In [11]:
y

0        7
1        9
2       10
3        7
4        8
        ..
9995     7
9996    11
9997     6
9998     6
9999     7
Name: target, Length: 10000, dtype: int64

# Decison Tree

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [20]:
from sklearn.metrics import mean_squared_error

In [13]:
model1 = DecisionTreeClassifier()

In [14]:
model1 = model1.fit(x, y)

In [15]:
test_data = pd.read_csv("training.csv")

In [16]:
test_data

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust,target
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,12
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,10
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,11
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32763,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,5
32764,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,4
32765,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,5
32766,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,3
32767,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4

In [17]:
x_test = test_data.drop("target",axis =1)

In [18]:
y_test = test_data["target"]

In [19]:
model1_predict = model1.predict(x_test)

In [21]:
model1_accuracy = mean_squared_error(y_test, model1_predict)

In [22]:
model1_accuracy

0.9088134765625

# Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
model2 = RandomForestClassifier()

In [27]:
model2 = model2.fit(x,y)

In [28]:
model2_predict = model2.predict(x_test)

In [30]:
model2_accuracy = mean_squared_error(y_test, model2_predict)

In [31]:
model2_accuracy

0.6925048828125

# Native Bayes

In [32]:
from sklearn.naive_bayes import GaussianNB

In [33]:
model3 = GaussianNB()

In [36]:
model3 = model3.fit(x,y)

In [37]:
model3_predict = model3.predict(x_test)

In [38]:
model3_accuracy = mean_squared_error(y_test, model3_predict)

In [40]:
model3_accuracy

0.879241943359375

# Support Vector Machine

In [41]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [48]:
from sklearn.svm import LinearSVC

In [49]:
model4 = make_pipeline(StandardScaler(), LinearSVC(random_state=0, tol=1e-5))

In [51]:
model4 = model4.fit(x,y)

In [52]:
model4_predict = model4.predict(x_test)

In [53]:
model4_accuracy = mean_squared_error(y_test, model4_predict)

In [54]:
model4_accuracy

0.44891357421875

In [55]:
import pickle

In [56]:
pickle.dump(model4, open("svm.pkl", "wb"))