In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("training.csv")

In [3]:
data

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust,target
0,0,1,0,1,0,1,1,0,1,1,1,1,1,0,1,7
1,0,1,1,1,0,1,1,1,0,0,0,0,0,0,0,9
2,1,1,0,0,1,1,1,0,1,0,1,0,0,0,0,10
3,1,1,0,1,0,1,1,1,1,0,1,0,0,1,1,7
4,1,0,1,0,1,1,0,0,0,1,1,0,0,1,0,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,1,1,1,0,1,1,0,0,1,0,1,1,0,7
9996,1,1,0,0,1,1,1,1,0,0,0,0,0,0,0,11
9997,0,1,1,0,0,1,1,1,1,1,0,0,1,1,0,6
9998,0,1,1,0,1,0,1,1,1,1,1,0,1,0,0,6
9999,0,1,1,0,1,0,1,1,1,0,1,1,0,0,0,7

In [4]:
x = data.drop("target",axis=1)

In [5]:
x

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust
0,0,1,0,1,0,1,1,0,1,1,1,1,1,0,1
1,0,1,1,1,0,1,1,1,0,0,0,0,0,0,0
2,1,1,0,0,1,1,1,0,1,0,1,0,0,0,0
3,1,1,0,1,0,1,1,1,1,0,1,0,0,1,1
4,1,0,1,0,1,1,0,0,0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,1,1,1,0,1,1,0,0,1,0,1,1,0
9996,1,1,0,0,1,1,1,1,0,0,0,0,0,0,0
9997,0,1,1,0,0,1,1,1,1,1,0,0,1,1,0
9998,0,1,1,0,1,0,1,1,1,1,1,0,1,0,0
9999,0,1,1,0,1,0,1,1,1,0,1,1,0,0,0

In [6]:
y = data["target"]

In [7]:
y

0        7
1        9
2       10
3        7
4        8
        ..
9995     7
9996    11
9997     6
9998     6
9999     7
Name: target, Length: 10000, dtype: int64

# Decison Tree

In [9]:
from sklearn.metrics import mean_squared_error

In [8]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
model1 = DecisionTreeClassifier()

In [11]:
model1 = model1.fit(x, y)

In [12]:
test_data = pd.read_csv("test.csv")

In [13]:
test_data

,angry,internet,smoking,focus,rules,sports,future,mistakes,misunderstand,hurt,alone,horror,depressed,friends,trust,target
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,11
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,12
2,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,10
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,11
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32763,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,5
32764,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,4
32765,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,5
32766,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,3
32767,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,4

In [14]:
x_test = test_data.drop("target",axis =1)

In [15]:
y_test = test_data["target"]

In [16]:
model1_predict = model1.predict(x_test)

In [17]:
model1_accuracy = mean_squared_error(y_test, model1_predict)

In [18]:
model1_accuracy

0.910858154296875

# Random Forest

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
model2 = RandomForestClassifier()

In [21]:
model2 = model2.fit(x,y)

In [22]:
model2_predict = model2.predict(x_test)

In [23]:
model2_accuracy = mean_squared_error(y_test, model2_predict)

In [24]:
model2_accuracy

0.69366455078125

# Native Bayes

In [25]:
from sklearn.naive_bayes import GaussianNB

In [26]:
model3 = GaussianNB()

In [27]:
model3 = model3.fit(x,y)

In [28]:
model3_predict = model3.predict(x_test)

In [29]:
model3_accuracy = mean_squared_error(y_test, model3_predict)

In [30]:
model3_accuracy

0.879241943359375

# Support Vector Machine

In [31]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [32]:
from sklearn.svm import LinearSVC

In [33]:
model4 = make_pipeline(StandardScaler(), LinearSVC(random_state=0, tol=1e-5))

In [34]:
model4 = model4.fit(x,y)

In [35]:
model4_predict = model4.predict(x_test)

In [36]:
model4_accuracy = mean_squared_error(y_test, model4_predict)

In [37]:
model4_accuracy

0.44891357421875

In [38]:
import pickle

In [39]:
pickle.dump(model4, open("svm.pkl", "wb"))